<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="Terminal">
			<action name="Execute">
				<execute>urxvtdc</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>nautilus</execute>
			</action>
		</item>
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Emacs">
			<action name="Execute">
				<execute>urxvtdc -e emacs</execute>
			</action>
		</item>
		<separator/>
		<menu id="6" label="Graphics">
			<item label="GIMP">
				<action name="Execute">
					<execute>gimp-2.8</execute>
				</action>
			</item>
			<item label="Gwenview">
				<action name="Execute">
					<execute>gwenview</execute>
				</action>
			</item>
			<item label="Inkscape">
				<action name="Execute">
					<execute>inkscape</execute>
				</action>
			</item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer">
				<action name="Execute">
					<execute>urxvt -e alsamixer</execute>
				</action>
			</item>
			<item label="Amarok">
				<action name="Execute">
					<execute>amarok</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="BlueDevil">
				<action name="Execute">
					<execute>bluedevil-monolithic</execute>
				</action>
			</item>
			<item label="Chromium">
				<action name="Execute">
					<execute>chromium</execute>
				</action>
			</item>
			<item label="FireFox">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
			<item label="FTP">
				<action name="Execute">
					<execute>xterm -e ftp</execute>
				</action>
			</item>
			<item label="JDownloader">
				<action name="Execute">
					<execute>jdownloader</execute>
				</action>
			</item>
			<item label="KDE IM Contacts">
				<action name="Execute">
					<execute>ktp-contactlist</execute>
				</action>
			</item>
			<item label="KDE IM Log Viewer">
				<action name="Execute">
					<execute>ktp-log-viewer</execute>
				</action>
			</item>
			<item label="KGet">
				<action name="Execute">
					<execute>kget</execute>
				</action>
			</item>
			<item label="KNode">
				<action name="Execute">
					<execute>knode</execute>
				</action>
			</item>
			<item label="Konqueror">
				<action name="Execute">
					<execute>kfmclient openProfile webbrowsing</execute>
				</action>
			</item>
			<item label="Kopete">
				<action name="Execute">
					<execute>kopete</execute>
				</action>
			</item>
			<item label="KPPP">
				<action name="Execute">
					<execute>kppp</execute>
				</action>
			</item>
			<item label="KRDC">
				<action name="Execute">
					<execute>krdc</execute>
				</action>
			</item>
			<item label="Krfb">
				<action name="Execute">
					<execute>krfb</execute>
				</action>
			</item>
			<item label="KTorrent">
				<action name="Execute">
					<execute>ktorrent</execute>
				</action>
			</item>
			<item label="Skype">
				<action name="Execute">
					<execute>skype</execute>
				</action>
			</item>
			<item label="Talk">
				<action name="Execute">
					<execute>xterm -e talk</execute>
				</action>
			</item>
			<item label="Tucan Manager">
				<action name="Execute">
					<execute>tucan</execute>
				</action>
			</item>
			<item label="Ubuntu One">
				<action name="Execute">
					<execute>ubuntuone-control-panel-qt</execute>
				</action>
			</item>
			<item label="Unison (2.27)">
				<action name="Execute">
					<execute>unison-227-x11</execute>
				</action>
			</item>
			<item label="VidyoDesktop">
				<action name="Execute">
					<execute>VidyoDesktop</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Adobe Flash Player">
						<action name="Execute">
							<execute>flash-player-properties</execute>
						</action>
					</item>
					<item label="Privilege granting">
						<action name="Execute">
							<execute>gksu-properties</execute>
						</action>
					</item>
				</menu>
				<menu id="34" label="KDE">
					<menu id="26" label="Components">
						<item label="KDE Resources">
							<action name="Execute">
								<execute>kcmshell kresources</execute>
							</action>
						</item>
					</menu>
				</menu>
				<item label="Emerald Theme Manager">
					<action name="Execute">
						<execute>emerald-theme-manager</execute>
					</action>
				</item>
				<item label="KDE System Settings">
					<action name="Execute">
						<execute>systemsettings</execute>
					</action>
				</item>
				<item label="Manage Printing">
					<action name="Execute">
						<execute>xdg-open http://localhost:631/</execute>
					</action>
				</item>
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Panel tint2">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
				<item label="synaptiks">
					<action name="Execute">
						<execute>synaptiks</execute>
					</action>
				</item>
			</menu>
			<item label="KDE Partition Manager">
				<action name="Execute">
					<execute>partitionmanager</execute>
				</action>
			</item>
			<item label="KDiskFree">
				<action name="Execute">
					<execute>kdf</execute>
				</action>
			</item>
			<item label="KInfoCenter">
				<action name="Execute">
					<execute>kinfocenter</execute>
				</action>
			</item>
			<item label="KRandRTray">
				<action name="Execute">
					<execute>krandrtray</execute>
				</action>
			</item>
			<item label="KSysGuard">
				<action name="Execute">
					<execute>ksysguard</execute>
				</action>
			</item>
			<item label="KSystemLog">
				<action name="Execute">
					<execute>ksystemlog</execute>
				</action>
			</item>
			<item label="KUser">
				<action name="Execute">
					<execute>kuser</execute>
				</action>
			</item>
			<item label="KWalletManager">
				<action name="Execute">
					<execute>kwalletmanager</execute>
				</action>
			</item>
			<item label="KwikDisk">
				<action name="Execute">
					<execute>kwikdisk</execute>
				</action>
			</item>
			<item label="Nepomuk Backup">
				<action name="Execute">
					<execute>nepomukbackup</execute>
				</action>
			</item>
			<item label="Nepomuk Cleaner">
				<action name="Execute">
					<execute>nepomukcleaner</execute>
				</action>
			</item>
			<item label="Nepomuk File Indexing Controller">
				<action name="Execute">
					<execute>nepomukcontroller</execute>
				</action>
			</item>
			<item label="Pacman Log Viewer">
				<action name="Execute">
					<execute>plv</execute>
				</action>
			</item>
		</menu>
		<menu id="38" label="Utilities">
        </menu>
		<separator/>
		<menu execute="~/bin/ob-pipemenu-recent-files" id="recent" label="Recent files"/>
		<separator/>
		<menu id="39" label="Exit">
			<item label="Lock">
				<action name="Execute">
					<execute>light-locker-command -l</execute>
				</action>
			</item>
			<item label="Logout">
				<action name="Exit"/>
			</item>
			<item label="Reboot">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Suspend">
				<action name="Execute">
					<execute>systemctl suspend</execute>
				</action>
			</item>
			<item label="Hibernate">
				<action name="Execute">
					<execute>systemctl hibernate</execute>
				</action>
			</item>
			<item label="Poweroff">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
